body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 600px;
    height: 300px;
}
.wrapper p{
    font-size: 18px;
}